*{
    margin-top: 0;
    padding: 0;
}
body{
    background-color: #022d3d;
}
/*login -------------------- */
#login{
    display: flex;
    background-color: #022d3d;
}
#login .con-log{
            justify-items: center;
                position: relative;
                height: 624px;
                margin: auto;
                box-shadow: 0px 0px 11px yellow;
                border: 1px solid;
                width: 685px;
                background-color: #022d3d;
            
}
.con-log img{
        position: relative;
            border: 1px solid;
            width: 149px;
            margin: 10px;
            left: 245px;
            box-shadow: 0px 0px 5px yellow;
            border-radius: 90px;
}
.con-log input{
            position: relative;
                height: 46px;
                width: 522px;
                left: 71px;
                margin: 13px;
                padding: 6px;
                border-radius: 14px;
}
.con-log a{
        text-decoration: none;
            right: -26px;
            position: relative;
            color: #f6be00;
            top: 117px;
            font-size: 20px;
}
.con-log #sub{
        border: none;
            background-color: yellow;
            width: 205px;
            height: 56px;
            font-family: monospace;
            font-weight: bold;
            font-size: 24px;
            color: #022d3d;
            position: relative;
            left: 222px;
}
.con-log #sub:hover{
    background-color: #022d3d;
    color: #f6be00;
    border: 1px solid #f6be00;
}
/* ------------------------------------------- */
header{
    background-color: #022d3d;
}
#first{
            width: 100%;
                position: relative;
                background-color: #022d3d;
}    
#first .container{
        left: 18px;
            width: 95%;
            border-radius: 7px;
            position: relative;
            height: 75px;
            
            background-color: #022d3d;
            display: flex;
            border: 1px solid yellow;
}
.logo img{
        width: 108px;
            height: 64px;
            margin-left: 56px;
}
.navbar{
                width: 893px;
                    position: relative;
                    left: 250px;
                    top: 23px;
                    height: 48px;
}
.navbar a{
    text-decoration: none;
        padding: 13px;
        margin-left: 15px;
        color: #f6be00;
        font-weight: bold;
        font-family: monospace;
        font-size: 23px;
}
.navbar a:hover{
    border: 1px solid wheat;
    border-radius: 5px;
}
.navbar select{
        border: none;
            background-color: #022d3d;
            color: #f6be12;
            font-weight: bold;
            font-family: monospace;
            font-size: 23px;
}
/* --------------home */
#home{
    width: 99%;

    background: #022d3d;
    height: 534px;
    margin-top: 34px;
}
#imgDiv{

    display: flex;
}
#home .divImg img{
    width: 339px;
        height: 510px;
}

/* about-------------- */
#about{
        margin-top: 0px;
            border: 1px solid;
                background: #022d3d;
                color: #f6be00;
                margin-bottom: -16px;
}
#about .con-about{
    color: #f6be00;
        margin-top: 71px;
        background-color: #022d3d;
}
#about h1{
    text-align: center;
        font-family: monospace;
        font-size: 36px;
        font-weight: bold;
        margin: 14px;
}
.con-about .about-left{
            display: flex;
}
.con-about .about-left #img1{
        width: 33%;
            position: relative;
            left: 12px;
            box-shadow: 0 0 9px #f6be00;
                border-radius: 12px;
}
.con-about .about-left #img2 {
        width: 29%;
            position: relative;
            left: 12px;
            margin: 13px;
            box-shadow: 0 0 9px #f6be00;
            border-radius: 12px;
        
}
.con-about .about-left #img3 {
    width: 33%;
    position: relative;
    left: 12px;
    box-shadow: 0 0 9px #f6be00;
        border-radius: 12px;
}
.con-about .about-right{
    font-family: ui-monospace;
        font-size: 22px;
        text-align: center;
        margin: 21px;
}
/* best */
#best{
        background-color: #022d3d;   
        height: 1500px;
        margin: 0px;
        margin-bottom: -14px;
        color: #f6be00;
}
.con-best .cards{
display: flex;
    flex-wrap: wrap;}
.con-best .cards .card{
margin: 20px;
    border: 1px solid;
    width: 273px;
    background-color: #022d3d;
    margin-left: 39px;
    height: 409px;
    box-shadow: 0 0 10px #f6be00
}
.con-best .cards .card:hover{
    transform: scale(1.1);
}

.con-best .cards .card img{
    width: 270px;
        height: 300px;
}
.con-best .cards .card h5{
    font-size: 20px;
    margin: 13px;
    text-align: center;
    font-family: monospace;
}
.con-best .cards .card h6{
    color: #f6be00;
        font-family: monospace;
        font-size: 21px;
        text-align: center;
    }

    /* sections */
#sections{
            background: #022d3d;
            color: #f6be00;
}
/* romantic */
.roma-div .sec-card{
    
        background: #022d3d;
        margin: 25px;
        display: flex;
        flex-wrap: wrap;
}
.roma-div .sec-card .card img{
    width: 272px;
    height: 282px;      
    margin-bottom: 12px;
}

.roma-div .sec-card .card{
margin: 20px;
    border: 1px solid;
    width: 273px;
    background-color: #022d3d;
    margin-left: 39px;
    height: 419px;
    box-shadow: 0 0 10px #f6be00;
}
.roma-div .sec-card .card:hover {
    transform: scale(1.1);
}
.roma-div .sec-card .card h5{
    font-size: 21px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 10px;
}
.roma-div .sec-card .card h6{
        text-align: center;
            font-family: monospace;
            font-size: 24px;
}
#buyBtn {
    font-family: monospace;
    font-size: 21px;
    font-weight: bold;
    background: #022d3d;
    top: -6px;
    text-align: center;
    text-decoration: none;
    width: 271px;
    height: 33px;
    position: relative;
    border: 1px solid #022d3d;
    color: #f6be00;
}

#buyBtn:hover {
    color: #022d3d;
    background-color: #f6be00;
    border: 1px solid #f6be00;
}

/* science */
.sci-div .sci-card {

    background: #022d3d;
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.sci-div .sci-card .card img {
    width: 272px;
    height: 282px;
    margin-bottom: 12px;
}

.sci-div .sci-card .card {
    margin: 20px;
    border: 1px solid;
    width: 273px;
    background-color: #022d3d;
    margin-left: 39px;
    height: 419px;
        box-shadow: 0 0 10px #f6be00;
}

.sci-div .sci-card .card:hover {
    transform: scale(1.1);
}

.sci-div .sci-card .card h5 {
    font-size: 21px;
    font-family: monospace;
    text-align: center;
    margin-bottom: 10px;
}

.sci-div .sci-card .card h6 {
    text-align: center;
    font-family: monospace;
    font-size: 24px;
}
/* footer */
.conFoot{
        border: 1px solid;
        background: #022d3d;          
        margin-top: -25px;
        height: 310px;
        display: flex;
        color: #f6be00;
}
.conFoot .word {
        height: 206px;
            width: 253px;
            text-align: center;
            font-family: monospace;
            border: 1px solid;
            margin: 41px;
            box-shadow: 0 0 5px;
}
.conFoot .word p{
        padding: 26px;
}
.conFoot .word ul{
        list-style: none;
}
footer p{
        margin-top: -39px;
        color: #f6be00;         
        text-align: center;
        font-size: 17px;
        font-family: monospace;
}
/* more */
#more{
    color: #f6be00;
        background: #022d3d;
        height: 535px;
        margin-top: -25px;
        height: 655px;
}
.conMore{
    display: flex;
}
.conMore img{
height: 536px;
    border: 1px solid;
    box-shadow: 0 0 5px;
    margin: 20px;
    position: relative;
        left: 82px;
}
.conMore p{
        left: 111px;
            border: 1px solid;
            width: 51%;
            text-align: inherit;
            position: relative;
            font-size: 23px;
            box-shadow: 0 0 5px;
            margin: 20px;
            font-family: monospace;
}
/* cart */
.conCart{
    display: flex;
    height: 575px;
    
}
.conCart .imgDiv img{
        border: 1px solid #f6be00;
            height: 419px;
            margin-top: 59px;
            margin-left: 11px;
            box-shadow: 0 0 10px #f6be00;
            left: 79px;
            position: relative;
}
.conCart .divCon{
    height: 435px;
        border: 1px solid #f6be00;
        position: relative;
        left: 289px;
        width: 53%;
        box-shadow: 0 0 10px #f6be00;
        margin-top: 42px;
}
.conCart .divCon p{
        font-size: 21px;
            margin: 12px;
            padding: 12px;
            color: #f6be00;
}

